<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd ">
      

     <context:component-scan base-package="com.*"/>
    <mvc:annotation-driven/>
      <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
           <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
           <property name="url" value="jdbc:mysql://localhost:3306/springdome"/>
           <property name="username" value="root"/>
           <property name="password" value="root"/>
       </bean>
            
       <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="typeAliasesPackage" value="com.entity"/>
            <property name="dataSource" ref="dataSource">

            </property>
            <property name="mapperLocations">
                <list>
                   <value>classpath:/com/mapper/*DaoMapper.xml</value>
                </list>
            </property>
       </bean>     
       
       <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
          <property name="basePackage" value="com.dao"/>
       </bean>
       
     <!--   <bean id="userService" class="com.qixin.service.UserServiceImpl">
           <property name="userDao">
               <ref local="userDao"/>
           </property>
       </bean> -->
       
       <bean id="dstm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
          <property name="dataSource" ref="dataSource"/>
       </bean>
       
       <tx:annotation-driven transaction-manager="dstm"/>
       
</beans>





